---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        {% assign pronouns = "" %}
        {% if site.pronouns and site.pronouns != "" %}
            {% assign pronouns = " - " %}
            {% assign parts = site.pronouns | split: "/" %}

            {% for part in parts %}
                {% assign trimmed = part | strip %}
                {% if forloop.first %}
                    {% assign pronouns = trimmed %}
                {% else %}
                    {% assign pronouns = pronouns | append: " / " | append: trimmed %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }} <span style="font-style: italic; font-size: x-large;">{{ pronouns }}</span><br>
        <span style="color: var(--global-theme-color);">{{ site.post_nomials }}</span>
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid path = profile_image_path class = profile_image_class sizes = sizes alt = page.profile.image
            cache_bust = true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_repos %}
      <h2>
        <a href="{{ '/repositories/' | relative_url }}" style="color: inherit">selected repositories</a>
      </h2>
      {% include selected_repos.liquid %}
    {% endif %}

    <!-- Self gallery -->
    {% assign container_width = 800 %}
    {% assign gap = 10 %}
    {% assign aspect_ratio_inverse = 13 | divided_by: 6 %}

    {%- assign image_count = 0 -%}
    {% for image in site.static_files %}
      {% if image.path contains '/profiles/' and image.extname contains '.jpg' or image.extname contains '.png' or image.extname contains '.jpeg' or image.extname contains '.webp' %}
        {% assign image_count = image_count | plus: 1 %}
      {% endif %}
    {% endfor %}

    {% assign image_count_minus_1 = image_count | minus: 1 %}
    {% assign total_gap = gap | times: image_count_minus_1 %}
    {% assign usable_width = container_width | minus: total_gap %}
    {% assign image_width = usable_width | divided_by: image_count %}
    {% assign image_height = image_width | times: aspect_ratio_inverse | floor %}

    <div style="display: flex; width: 100%; gap: {{ gap }}px; overflow: hidden; height: {{ image_height }}px;">
      {% for image in site.static_files %}
        {% if image.path contains '/profiles/' and image.extname contains '.jpg' or image.extname contains '.png' or image.extname contains '.jpeg' or image.extname contains '.webp' %}
          {% assign parts = image.name | split: "-" %}
          {% if parts.size == 3 %}
            {% assign year = parts[0] %}
            {% assign month = parts[1] %}
            <a href="/blog/{{ year }}/{{ month }}-sprint/" style="height: inherit;" >
              <img src="{{ image.path | relative_url }}" alt="{{ year }}-{{ month }}" style="width: auto; height: inherit; flex-grow:1; object-fit: cover; object-position: center; aspect-ratio: 6 / 13;" />
            </a>
          {% else %}
            <img src="{{ image.path | relative_url }}" alt="{{ image.name }}" style="width: auto; height: inherit; flex-grow:1; object-fit: cover; object-position: center; aspect-ratio: 6 / 13;" />
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include footer_social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

  </article>
</div>
